

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    
}

body {
    background-color: black;
    color: antiquewhite;
    font-size: auto;
    
}
p{
    font-size: 18px;
}
.h20 {
    font-size: 35px;
}
.p5 {
    font-size: 20px;
}
